<div class="jumbotron">
    <h1>BrainWare Orders</h1>
    <p class="lead">This is the BrainWare orders page! Welcome</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Orders</h2>
        <div id="orders"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        showOrdersList();
    });
</script>

